.button {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Changa', sans-serif;
    margin-bottom: 3%;

}
#valueArea {
    border: 1px solid grey;
    width: 100%;
    height: auto;
    padding: 3%;
    font-family: 'El Messiri', sans-serif;
    text-align: center;
    font-size: 1.8em;
    margin: auto;
    margin-bottom: 3%;
}
.bg {
  background-color: #f2f2f2;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#logo {

}
